/node_modules
/.next
/out
/build

# env
.env
.env*.local

# test coverage
/coverage

# playwright
/test-results
/playwright-report
/blob-report
/playwright/.cache
/e2e/.auth

# misc
*.log
.DS_Store
next-env.d.ts
*.tsbuildinfo
/.idea
/.vscode
